<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.fuad.mvc</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that has model data.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Models/SampleModel.swift</string>
						<string>Helpers/DAL.swift</string>
						<string>Helpers/AppConstants.swift</string>
						<string>Controllers/HomeViewController.swift</string>
						<string>Base.lproj/Main.storyboard</string>
						<string>Base.lproj/LaunchScreen.storyboard</string>
						<string>Info.plist</string>
						<string>Resources/Assets.xcassets</string>
					</array>
				</dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Models/SampleModel.h</string>
						<string>Models/SampleModel.m</string>
						<string>Helpers/DAL.h</string>
						<string>Helpers/DAL.m</string>
						<string>Helpers/AppConstants.h</string>
						<string>Controllers/HomeViewController.h</string>
						<string>Controllers/HomeViewController.m</string>
						<string>Base.lproj/Main.storyboard</string>
						<string>Base.lproj/LaunchScreen.storyboard</string>
						<string>Info.plist</string>
						<string>Resources/Assets.xcassets</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>CrashlyticsEnabled</string>
			<key>Name</key>
			<string>Enable Crashlytics</string>
			<key>Description</key>
			<string>Indicates whether or not Crashlytics should be included.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Frameworks/Fabric.framework</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Fabric</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Fabric</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Headers/</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Headers/</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Headers/FABAttributes.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Headers/FABAttributes.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Headers/Fabric.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Headers/Fabric.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Info.plist</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/Modules/module.modulemap</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
								<string>Modules</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/Modules/module.modulemap</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/run</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/run</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Fabric.framework/uploadDSYM</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Fabric.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Fabric.framework/uploadDSYM</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Crashlytics</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Crashlytics</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/ANSCompatibility.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/ANSCompatibility.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/Answers.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/Answers.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/CLSAttributes.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/CLSAttributes.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/CLSLogging.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/CLSLogging.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/CLSReport.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/CLSReport.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/CLSStackFrame.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/CLSStackFrame.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Headers/Crashlytics.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Headers</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Headers/Crashlytics.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Info.plist</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/Modules/module.modulemap</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
								<string>Modules</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/Modules/module.modulemap</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/run</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/run</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/submit</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/submit</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Frameworks/Crashlytics.framework/uploadDSYM</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Frameworks</string>
								<string>Crashlytics.framework</string>
							</array>
							<key>Path</key>
							<string>Frameworks/Crashlytics.framework/uploadDSYM</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>AppDelegateWithFabrics.swift</string>
						</dict>
						<key>AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>AppDelegate</string>
							</array>
							<key>Path</key>
							<string>AppDelegate/AppDelegateWithFabrics.h</string>
						</dict>
						<key>AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>AppDelegate</string>
							</array>
							<key>Path</key>
							<string>AppDelegate/AppDelegateWithFabrics.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Frameworks/Fabric.framework/Fabric</string>
						<string>Frameworks/Fabric.framework/Headers/</string>
						<string>Frameworks/Fabric.framework/Headers/FABAttributes.h</string>
						<string>Frameworks/Fabric.framework/Headers/Fabric.h</string>
						<string>Frameworks/Fabric.framework/Info.plist</string>
						<string>Frameworks/Fabric.framework/Modules/module.modulemap</string>
						<string>Frameworks/Fabric.framework/run</string>
						<string>Frameworks/Fabric.framework/uploadDSYM</string>
						<string>Frameworks/Crashlytics.framework/Crashlytics</string>
						<string>Frameworks/Crashlytics.framework/Headers/</string>
						<string>Frameworks/Crashlytics.framework/Headers/ANSCompatibility.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/Answers.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/CLSAttributes.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/CLSLogging.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/CLSReport.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/CLSStackFrame.h</string>
						<string>Frameworks/Crashlytics.framework/Headers/Crashlytics.h</string>
						<string>Frameworks/Crashlytics.framework/Info.plist</string>
						<string>Frameworks/Crashlytics.framework/Modules/module.modulemap</string>
						<string>Frameworks/Crashlytics.framework/run</string>
						<string>Frameworks/Crashlytics.framework/submit</string>
						<string>Frameworks/Crashlytics.framework/uploadDSYM</string>
					</array>
					<key>Frameworks</key>
					<array>
						<string>Crashlytics</string>
						<string>Fabric</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>TargetIdentifier</key>
							<string>com.apple.dt.cocoaTouchApplicationTarget</string>
							<key>BuildPhases</key>
							<array>
								<dict>
									<key>Class</key>
									<string>ShellScript</string>
									<key>ShellPath</key>
									<string>/bin/sh</string>
									<key>ShellScript</key>
									<string>./___PROJECTNAME___/Frameworks/Fabric.framework/run ___VARIABLE_FabricsAPIID___ ___VARIABLE_FabricsBuildSecret___</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>CrashlyticsEnabled</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>FabricsAPIID</string>
			<key>Name</key>
			<string>Fabrics API ID</string>
			<key>Default</key>
			<string>fabrics_api_id</string>
			<key>Description</key>
			<string>The user&apos;s Fabrics API ID.</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>CrashlyticsEnabled</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>FabricsBuildSecret</string>
			<key>Name</key>
			<string>Fabrics Build Secret</string>
			<key>Default</key>
			<string>fabrics_build_secret</string>
			<key>Description</key>
			<string>The user&apos;s Fabrics Build Secret.</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Helpers/AppConstants.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Helpers/AppConstants.swift</string>
		</dict>
		<key>Models/SampleModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Models/SampleModel.swift</string>
		</dict>
		<key>Helpers/DAL.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Helpers/DAL.swift</string>
		</dict>
		<key>Controllers/HomeViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/ViewController.swift</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<string>Views</string>
			<key>Path</key>
			<string>Base.lproj/Main.storyboard</string>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Group</key>
			<string>Views</string>
			<key>Path</key>
			<string>Base.lproj/LaunchScreen.storyboard</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Assets.xcassets</string>
		</dict>
		<key>Models/SampleModel.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Models/SampleModel.h</string>
		</dict>
		<key>Models/SampleModel.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Models/SampleModel.m</string>
		</dict>
		<key>Helpers/DAL.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Helpers/DAL.h</string>
		</dict>
		<key>Helpers/DAL.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Helpers/DAL.m</string>
		</dict>
		<key>Helpers/AppConstants.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Helpers/AppConstants.h</string>
		</dict>
		<key>Controllers/HomeViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/HomeViewController.h</string>
		</dict>
		<key>Controllers/HomeViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Controllers/HomeViewController.m</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.m</string>
		</dict>
	</dict>
</dict>
</plist>
